@page "/"
@using Intuit.Ipp.OAuth2PlatformClient
@inject IApiHandler apiHandler

@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<body class="home">


    <h4>Sign into quickbooks below:</h4>

    <a href="" @onclick="authRedirect"><img src="https://blogs.intuit.com/wp-content/uploads/2019/04/C2QB_green_btn_med_default.png" width="150" height="50" /></a>

</body>

@code {

    public void authRedirect()
    {
        navigationManager.NavigateTo(apiHandler.InitiateOAuth2());
    }

}