@inherits LayoutComponentBase

<PageTitle>qbo-dotNET</PageTitle>

<div class="page">

    <main>
        <div class="top-row px-4" style="background-color: #292a2b; border-bottom-color: #202021 ">
            <h4>Bold Bean Invoice Importer</h4>
        </div>

        <article class="content px-4">
            <div>
            @Body
                </div>
        </article>
    </main>
</div>

